{{ define "content" }}
<section class="table-components" style="padding-top: 15px; padding-left: 30px; padding-right: 30px;">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">DisplayName</th>
          <th scope="col">KeyLength</th>
          <th scope="col">Hash</th>
          <th scope="col">Cipher</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $item := .Certificates }}
        <tr id="request-{{ .ID }}">
          <th scope="row">{{ .ID }}</th>
          <td>{{ .DisplayName }}</td>
          <td>{{ .KeyLength }}</td>
          <td>{{ .HashAlgorithm.String }}</td>
          <td>{{ .CipherAlgorithm.String }}</td>
          <td>
            <div class="pki-stack align-items-center">
              <span class="pki-badge">
                <div class="pki-stack">
                  <div class="pki-badge-content-grid">
                    <div class="pki-badge-indicator {{ .StatusStyle }}"></div>
                    <p style="margin:0;" class="pki-badge-text">
                      <span id="request-status-{{ .ID }}">{{ .StatusString }}</span>
                    </p>
                  </div>
                </div>
              </span>
            </div>
          </td>
          <td>
            <div class="d-flex gap-1 action">
              <button class="text-danger" hx-delete="/requests/{{ .ID }}" hx-target="#request-{{ .ID }}"
                hx-indicator="#ri-{{ .ID }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                </svg>
              </button>

              <a href="/requests/view/{{ .ID }}" class="btn text-primary" title="View certificate request details">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-card-list" viewBox="0 0 16 16">
                  <path
                    d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                  <path
                    d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                </svg>
              </a>

              <button class="btn text-success" hx-post="/requests/approve/{{ .ID}}"
                hx-target="#request-status-{{ .ID }}" hx-indicator="#ri-{{ .ID }}"
                title="Approve the certificate request">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-check-square-fill" viewBox="0 0 16 16">
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                </svg>
              </button>

              <div id="ri-{{ .ID }}" class="htmx-indicator spinner-border text-light"
                style="width: 1.3rem; height: 1.3rem;" role="status">
                <span class="visually-hidden">loading</span>
              </div>
            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-12 col-md-5">
        showing certificates {{ .Start }} to {{ .End }} of {{ .CertificateCount }}
      </div>
      <div class="col-sm-12 col-md-7">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <!-- <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li> -->
            {{ range $i, $x := .Pages }}
            {{ if eq $i $.Page }}
            <li class="page-item active"><a class="page-link" href="#">{{ $i }}</a></li>
            {{ else }}
            <li class="page-item"><a class="page-link" href="?page={{ $i }}">{{ $i }}</a></li>
            {{ end }}
            {{ end }}
            <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
            <!-- <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{{ end }}