{{ define "content" }}
<!-- <section class="table-components"> -->
<section class="table-components" style="padding-top: 15px; padding-left: 30px; padding-right: 30px;">
  <!-- <div class="container-fluid" style="padding-top: 30px;"> -->
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">DisplayName</th>
          <th scope="col">KeyLength</th>
          <th scope="col">Hash</th>
          <th scope="col">Cipher</th>
          <th scope="col">CryptoApi</th>
          <th scope="col">SigningApi</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{range $item := .CertificateRequests }}
          <tr id="request-{{ .ID }}">
            <th scope="row">{{ .ID }}</th>
            <td>{{ .DisplayName.String }}</td>
            <td>{{ .KeyLength.Int64 }}</td>
            <td>{{ .HashAlgorithm.String }}</td>
            <td>{{ .CipherAlgorithm.String }}</td>
            <td>{{ .CertificateCryptographicApi.String }}</td>
            <td>{{ .SigningRequestApi.String }}</td>
            <td>
              <div class="d-flex gap-1 action">
                  <button class="text-danger" hx-target="#hashalg-{{ .ID }}" hx-delete="/settings/hashalgorithm/{{ .ID }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                      class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg>
                  </button>
                  <a class="btn text-primary" href="/requests/view/{{ .ID }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="20" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                      <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                      <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                    </svg>
                  </a>
              </div>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</section>
{{ end }}