{{ block "badge-trigger" . }}
<div hx-get="{{ .URL }}" hx-trigger='{{ or .Trigger "load delay:5s" }}'>
  <div class="pki-stack align-items-center">
    <span class="pki-badge">
      <div class="pki-stack">
        <div class="pki-badge-content-grid">
          <div class="pki-badge-indicator {{ .Color }}"></div>
          <p style="margin:0;" class="pki-badge-text">{{ .Message }}</p>
        </div>
      </div>
    </span>
  </div>
</div>
{{ end}}


{{ block "badge" . }}
<div class="pki-stack align-items-center">
  <span class="pki-badge">
    <div class="pki-stack">
      <div class="pki-badge-content-grid">
        <div class="pki-badge-indicator amber"></div>
        <p style="margin:0;" class="pki-badge-text">
          <span id="request-status-{{ .ID }}">{{ .StatusString }}</span>
        </p>
      </div>
    </div>
  </span>
</div>
{{end}}

{{ block "badge-count" . }}
<span hx-get="{{ .UpdatePath }}" hx-trigger="load delay:5s" hx-swap="outerHTML"
  class="position-absolute translate-middle badge rounded-pill bg-danger">{{ .Value }}
</span>
{{ end }}
