{{ define "content" }}
<div style="height: 30px;" class="row"></div>
<div style="margin-left: 30px; margin-right: 30px;" class="row">
  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <h5 class="text-muted fw-normal mt-0">Pending Signing Requests</h5>
            <h3 class="my-2 py-1">2</h3>
            <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <h5 class="text-muted fw-normal mt-0">Certificates</h5>
            <h3 class="my-2 py-1">2</h3>
            <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <h5 class="text-muted fw-normal mt-0">Workers</h5>
            <h3 class="my-2 py-1">2</h3>
            <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            <h5 class="text-muted fw-normal mt-0">Failed Jobs</h5>
            <h3 class="my-2 py-1">2</h3>
            <p class="mb-0 text-muted">
              <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
