{{ define "content" }}
<section class="table-components" style="padding-top: 15px; padding-left: 30px; padding-right: 30px;">
  <h6 class="border-bottom pb-2 mb-2">Issue New Certificate</h6>

  <form method="post" action="/certificates/request" class="needs-validation">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="row gy-3">
        <div class="col-md-4">
          <label for="commonname" class="form-label">Common Name</label>
          <input type="text" class="form-control" name="commonname" id="commonname" placeholder="example.com" value=""
            required>
        </div>
        <div class="col-md-4">
          <label for="san" class="form-label">Subject Alternative Names (comma separated)</label>
          <input type="text" class="form-control" name="san" id="san" placeholder="web1.example.com,*.example.com">
        </div>
        <div class="col-md-4">
          <label for="orgname" class="form-label">Organization Name</label>
          <input type="text" class="form-control" name="orgname" id="orgname" placeholder="example.com" value="">
        </div>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="row gy-3">
        <div class="col-md-4">
          <label for="keyLength" class="form-label">Key Length</label>
          <select class="form-select" id="keyLength" name="keyLength" required="">
            {{ range $item := .KeyLengths }}
            <option value="{{ $item }}">{{ $item }}</option>
            {{ end }}
          </select>
          <div class="invalid-feedback">
            please provide a valid key length
          </div>
        </div>

        <div class="col-md-4">
          <label for="hashAlgorithmId" class="form-label">Hash Algorithm</label>
          <select class="form-select" id="hashAlgorithmId" name="hashAlgorithmId" required="">
            {{ range $item := .HashAlgorithms }}
            <option value="{{ $item.ID }}">{{ $item.Name.String }}</option>
            {{ end }}
          </select>
          <div class="invalid-feedback">
            please provide a valid hash algorithm
          </div>
        </div>

        <div class="col-md-4">
          <label for="cipherAlgorithmId" class="form-label">Cipher</label>
          <select class="form-select" name="cipherAlgorithmId" id="cipherAlgorithmId" required="">
            {{ range $item := .CipherAlgorithms }}
            <option value="{{ $item.ID }}">{{ $item.Name.String }}</option>
            {{ end }}
          </select>
          <div class="invalid-feedback">
            please provide a valid cipher algorithm
          </div>
        </div>
      </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="row gy-3">
        <div class="col-md-4">
          <label for="ca" class="form-label">Certificate Authority</label>
          <select class="form-select" name="ca" hx-get="/ca/templates.html" hx-target="#templates" hx-trigger="load"
            hx-indicator="#ca-templates-indicator">
            {{ range $item := .CertificateAuthorities }}
            <option value="{{ $item.ID }}">{{ $item.Name }}</option>
            {{ end }}
          </select>
        </div>

        <div class="col-md-4">
          <label for="templates" class="form-label">Template</label>
          <select class="form-select" id="templates" name="template">
          </select>
        </div>

        <div class="col-md-4">
          <label for="ca-templates-indicator" class="form-label"></label>
          <div id="ca-templates-indicator" class="htmx-indicator spinner-border text-light d-flex align-items-center"
            style="width: 1.35rem; height: 1.35rem; margin: auto 0;" role="status">
            <span class="visually-hidden">loading</span>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
  </form>
</section>
{{ end }}