{{ define "content" }}
<section class="table-components" style="padding-top: 15px; padding-left: 30px; padding-right: 30px;">
      <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-2">Issue New Certificate</h6>
        <form method="post" action="/certificates/request" class="needs-validation">
          <div class="row gy-3">
            <div class="col-sm-12">
              <label for="displayName" class="form-label">Display name</label>
              <input type="text" class="form-control" name="displayName" id="displayName" placeholder="example.com" value="" required>
              <!-- <div class="invalid-feedback">
                Valid display name is required.
              </div> -->
            </div>
          <!-- </div> -->

            <!-- <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div> -->

            <!-- <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required="">
              <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div> -->

            <!-- <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div> -->

            <!-- <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div> -->


              <div class="col-md-4">
                <label for="keyLength" class="form-label">Key Length</label>
                <select class="form-select" id="keyLength" name="keyLength" required="">
                  {{ range $item := .KeyLengths }}
                  <option value="{{ $item }}">{{ $item }}</option>
                  {{ end }}
                </select>
                <div class="invalid-feedback">
                  please provide a valid key length
                </div>
              </div>

              <div class="col-md-4">
                <label for="hashAlgorithmId" class="form-label">Hash Algorithm</label>
                <select class="form-select" id="hashAlgorithmId" name="hashAlgorithmId" required="">
                  {{ range $item := .HashAlgorithms }}
                  <option value="{{ $item.ID }}">{{ $item.Name.String }}</option>
                  {{ end }}
                </select>
                <div class="invalid-feedback">
                  please provide a valid hash algorithm
                </div>
              </div>

              <div class="col-md-4">
                <label for="signingRequestApiId" class="form-label">Signing Request Api</label>
                <select class="form-select" id="signingRequestApiId" name="signingRequestApiId" required="">
                  {{ range $item := .SigningApis }}
                  <option value="{{ $item.ID }}">{{ $item.Name.String }}</option>
                  {{ end }}
                </select>
                <div class="invalid-feedback">
                  please provide a valid signing request api
                </div>
              </div>

              <div class="col-md-4">
                <label for="cipherAlgorithmId" class="form-label">Cipher</label>
                <select class="form-select" name="cipherAlgorithmId" id="cipherAlgorithmId" required="">
                  {{ range $item := .CipherAlgorithms }}
                  <option value="{{ $item.ID }}">{{ $item.Name.String }}</option>
                  {{ end }}
                </select>
                <div class="invalid-feedback">
                  please provide a valid cipher algorithm
                </div>
              </div>
  
              <div class="col-md-8">
                <label for="cryptoApiId" class="form-label">Cryptographic API</label>
                <select class="form-select" name="cryptoApiId" id="cryptoApiId" required="">
                  {{ range $item := .CryptoApis }}
                  <option value="{{ $item.ID }}">{{ $item.Name.String }}</option>
                  {{ end }}
                </select>
                <div class="invalid-feedback">
                  please provide a valid cryptographic api
                </div>
              </div>
            </div>
          </div>

          <hr class="my-4">

          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div> -->

          <!-- <hr class="my-4"> -->

          <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
        </form>
      </div>
</section>
{{ end }}
